body {
    margin: 0;
}

.box {
    margin: 20px;
    width: 100px;
    height: 100px;
    background: blue;
}

.box-normal {
    box-sizing: content-box;
    padding: 10px;
    border: 15px solid black;
}

.box-new {
    box-sizing: border-box;
    padding: 10px;
    border: 5px solid black;
}