div {
    background-color: red;
    text-align: center;
    margin: 90px 20px;
}

div {
    /* border: 3px solid black; */
    /* border-radius: 40%; */
    border-top: 3px solid    blue;
    border-bottom: 3px solid yellow;
    border-radius: 3px 15px 3px 15px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1.6 px solid gray;
    Color: gray;
    margin: 20px 20px;
    width: 100px;
}

body {
    background-color: black;
}