body {
    background-color: #333988;
}

ul {
    background-color: yellow;       
    font-size: 20px;
}

.formulario {
    background-attachment: red;
    height: 10px;
}

.entrada1 {
    color: red;
    height: 30px;
    font-size: 15px;
}

#elem-selec {
    background-color: green;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}